@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #0F172A;

  --slate-100: #F1F5F9;
  --slate-200: #E2E8F0;
  --slate-300: #CBD5E1;
  --slate-400: #94A3B8;
  --slate-500: #64748B;
  --slate-800: #1E293B;
  --slate-900: #0F172A;

  --violet-100: #EDE9FE;
  --violet-600: #7C3AED;

  --amber-800: #92400E;
  --lime-300: #BEF264;
  --rose-500: #F43F5E;

  --font-nanum-square: NanumSquare;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fs-base: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nanum-square);
  --font-mono: var(--font-nanum-square);
  --font-weight-regular: var(--fw-regular);
  --font-weight-bold: var(--fw-bold);
  --font-weight-extrabold: var(--fw-extrabold);
  --font-size-base: var(--fs-base);
  --font-size-lg: var(--fs-lg);
  --font-size-xl: var(--fs-xl);

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 744px;
  --breakpoint-desktop: 1920px;

  --color-slate-100: var(--slate-100);
  --color-slate-200: var(--slate-200);
  --color-slate-300: var(--slate-300);
  --color-slate-400: var(--slate-400);
  --color-slate-500: var(--slate-500);
  --color-slate-800: var(--slate-800);
  --color-slate-900: var(--slate-900);

  --color-violet-100: var(--violet-100);
  --color-violet-600: var(--violet-600);

  --color-amber-800: var(--amber-800);
  --color-lime-300: var(--lime-300);
  --color-rose-500: var(--rose-500);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 45px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-amber-200);
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* @media (prefers-color-scheme: dark) {
} */

body {
  background: var(--background);
  color: var(--foreground);
}